body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  h1, h2 {
    color: #333;
  }
  
  .container {
    max-width: 600px;
  }
  
  a {
    text-decoration: none;
  }
  
  .btn-lg {
    padding: 10px 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .list-group-item {
    background-color: #e0f7fa;
    border: none;
    color: #333;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
  }
  